<!DOCTYPE html>
<html>
<head>
  <title>Dashboard</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <nav>
    <a href="/dashboard">Home</a>
    <a href="/contact">Contact</a>
    <a href="/employees">Employee Details</a>
    <a href="/create_employee">Create Employee</a>
    <a href="/about">About SRMCEM</a>
    <a href="/logout">Logout</a>
  </nav>

  <h2>Welcome, {{ user }}</h2>
  <p style="text-align:center;">This is your dashboard home page.</p>
</body>
</html>
